{{- $email := promptString "email" -}}
{{- $email_work := promptString "email_work" -}}

[data]
    full_name = "Daniel Goeke"

    email = {{ $email | quote }}
    email_work = {{ $email_work | quote }}

    github_user = "dgo-"

    editor = "nvim"
