# zprofile

{{ if eq .chezmoi.os "darwin" -}}
###################################################################################
# homebrew
export HOMEBREW_PREFIX="/opt/homebrew";
export HOMEBREW_CELLAR="/opt/homebrew/Cellar";
export HOMEBREW_REPOSITORY="/opt/homebrew";
export PATH="/opt/homebrew/bin:/opt/homebrew/sbin${PATH+:$PATH}";
export MANPATH="/opt/homebrew/share/man${MANPATH+:$MANPATH}:";
export INFOPATH="/opt/homebrew/share/info:${INFOPATH:-}";
{{- end }}

###################################################################################
# path
export path=(
"${XDG_BIN_HOME}"
"${GOBIN}"
${path}
)

###################################################################################
# SSH
if [[ -z "$SSH_AUTH_SOCK" ]]
then
    eval $(ssh-agent) &> /dev/null
    {{- if eq .chezmoi.os "darwin" }}
    /usr/bin/ssh-add --apple-load-keychain &> /dev/null
    {{- end }}
fi

{{ if lookPath "sway" -}}
###################################################################################
# start sway
if [ "$(tty)" = "/dev/tty1" ]; then
  # load sway environment
  source ~/.config/sway/environment

  # start sway
	exec sway > ~/.sway.log 2>&1
fi
{{- end }}
