# zprofile

{{ if lookPath "gpgconf" -}}
# GPG
export GPG_TTY=$(tty)
export SSH_AUTH_SOCK="$(gpgconf --list-dirs agent-ssh-socket)"
{{- end }}

{{ if lookPath "sway" -}}
# start sway
if [ "$(tty)" = "/dev/tty1" ]; then
  # load sway environment
  source ~/.config/sway/environment

  # start sway
	exec sway > ~/.sway.log 2>&1
fi
{{- end }}
