###################################################################################
# Startup Files
###################################################################################
# Login files
# #  level   files          interactive-login    interactive-non-login     script
# 1 system   /etc/zshenv    X                    X                         X
# 2 user     ~/.zshenv      X                    X                         X
# 3 system   /etc/zprofile  X
# 4 user     ~/.zprofile    X
# 5 system   /etc/zshrc     X                    X
# 6 user     ~/.zshrc       X                    X
# 7 system   /etc/zlogin    X
# 8 user     ~/.zlogin      X

# Logout Files
# 1. user)    ~/.zlogout    X
# 2. system)  /etc/zlogout  X

###################################################################################
# load profiling (comment in to profile zsh)
#zmodload zsh/zprof

###################################################################################
# load libaries
export fpath=(
"${ZSH_DIR}/fpath"
${fpath}
)
autoload -U $fpath[1]/*(.:t)  # load all from functions from my directory

source "${ZSH_DIR}/aliases.zsh"
source "${ZSH_DIR}/settings.zsh"

###################################################################################
# PATH
export path=(
"${XDG_BIN_HOME}"
"${GOBIN}"
${path}
)

{{ if eq .chezmoi.os "darwin" -}}
###################################################################################
# mac
export HOMEBREW_PREFIX="/opt/homebrew";
export HOMEBREW_CELLAR="/opt/homebrew/Cellar";
export HOMEBREW_REPOSITORY="/opt/homebrew";
export PATH="/opt/homebrew/bin:/opt/homebrew/sbin${PATH+:$PATH}";
export MANPATH="/opt/homebrew/share/man${MANPATH+:$MANPATH}:";
export INFOPATH="/opt/homebrew/share/info:${INFOPATH:-}";
{{- end }}

###################################################################################
# setup completion
autoload -U compinit
compinit -i
zstyle ':completion:*' menu select

###################################################################################
# setup prompt
eval "$(starship init zsh)"

###################################################################################
# profiling (comment in to profile zsh)
#zprof
