#! /usr/bin/env zsh

## files at should trigger a run
# zshenv:   {{ includeTemplate "dot_zshenv.tmpl" . | sha256sum }}
# zprofile: {{ include         "dot_zprofile"      | sha256sum }}
# zshrc:    {{ include         "dot_zshrc.tmpl"    | sha256sum }}
# aliases:  {{ includeTemplate "dot_config/zsh/aliases.zsh.tmpl" .  | sha256sum }}
# settings: {{ include "dot_config/zsh/settings.zsh" | sha256sum }}

zcompile "${HOME}/.zshenv"
zcompile "${HOME}/.zprofile"
zcompile "${HOME}/.zshrc"
zcompile "${HOME}/.config/zsh/aliases.zsh"
zcompile "${HOME}/.config/zsh/settings.zsh"
