[Unit]
Description=Network Manager Applet

[Service]
ExecStart=/usr/bin/nm-applet --indicator
Restart=on-abort

[Install]
WantedBy=sway-session.target
