[init]
	defaultBranch = main

[user]
	name  = {{ .full_name }}
	email = {{ .email }}

[core]
  editor = {{ .editor }}

{{ if lookPath "sops" -}}
[diff "sopsdiff"]
  textconv = sops --decrypt
{{ end -}}
