[init]
	defaultBranch = main

[user]
	name  = {{ .full_name }}
	email = {{ .email }}

[github]
user = {{ .github_user }}

[core]
  editor = {{ .editor }}
  sshCommand = "ssh -i ~/.ssh/keys/id_ed25519"

{{ if lookPath "sops" -}}
[diff "sopsdiff"]
  textconv = sops --decrypt
{{ end -}}

[push]
  autoSetupRemote = true

[pull]
	rebase = true

[rebase]
    autoStash = true

# incldue work projects
[includeIf "gitdir:~/work/"]
path = ~/.config/git/config-work
