[init]
  defaultBranch = main

[user]
  name  = {{ .full_name }}
  email = {{ .email }}

[github]
user = {{ .github_user }}

[core]
  editor = {{ .editor }}
  pager = less -FMRiX

{{ if lookPath "sops" }}
[diff "sopsdiff"]
  textconv = sops --decrypt
{{ end -}}

[push]
  autoSetupRemote = true
  default = simple

[pull]
  rebase = true

[rebase]
  autoStash = true

[color]
  ui = auto

[alias]
  dag = log --graph --format='format:%C(yellow)%h%C(reset) %C(blue)%an <%ae>%C(reset) %C(magenta)%cr%C(reset)%C(auto)%d%C(reset)%n%s' --date-order

# incldue work config
[includeIf "hasconfig:remote.*.url:ssh://git.amazon.com/**"]
  path = ~/.config/git/config-work
