[user]
email = {{ .email_work }}
signingkey = {{ .gpg_id_work }}

[github]
user = {{ .github_work_user }}

[core]
sshCommand = "ssh -i ~/.ssh/keys/id_ed25519_work_yubikey.pub"

[commit]
gpgsign = true
