##########################################
# ls => exa
{{- if lookPath "exa" }}
# exchange ls with exa
# https://the.exa.website/
alias ls='exa'
{{- end }}

# options
alias lsa='ls -lah'
alias l='ls -la'
alias ll='ls -l'

# mistakes
alias sl=ls

{{ if lookPath "bat" -}}
##########################################
# cat/less/man => bat
# exchange cat/less with bat
# https://github.com/sharkdp/bat
alias cat='bat -pp'
alias less='bat --paging=always'

# override MANPAGER
export MANPAGER="sh -c 'col -bx | bat -l man --style plain'"

{{ end -}}
{{ if lookPath "bat" -}}
##########################################
# grep => ripgrep
# exchange grep with ripgrep
# https://github.com/BurntSushi/ripgrep
alias grep='rg'

{{ end -}}
{{ if lookPath "nvim" -}}
##########################################
# neovim
alias vim=nvim
alias nv=nvim

{{ end -}}
{{ if lookPath "yt-dlp" -}}
##########################################
# yt-dlp (youtube download)
alias youtube-download=yt-dlp

{{ end -}}
##########################################
# mkdir
alias mkdir='mkdir -p'
alias mdkir='mkdir -p'

##########################################
# cd
alias ..='cd ..'
alias cd..='cd ..'

alias d='dirs -v'
for index ({1..9}) alias "$index"="cd +${index}"; unset index

##########################################
# Show zsh
alias history='fc -l 1'
alias reload_zsh_completion='rehash'

{{ if lookPath "kubectl" -}}
##########################################
# kubectl
alias k='kubectl'

{{ end -}}
##########################################
# ssh
alias ssh='TERM=xterm ssh'

##########################################
# directories
# cd ~bin
hash -d bin="${XDG_BIN_HOME}"
hash -d go="${GOPATH}"
hash -d tmp="/tmp"

################################
# default apps by os
alias -s md="${EDITOR}"
