[Unit]
Description=Dropbox Network Storage Daemon

[Service]
Type=forking
PIDFile=%h/.dropbox/dropbox.pid
ExecStart=/usr/bin/dropbox start
ExecStop=/usr/bin/dropbox stop
Restart=on-failure

[Install]
WantedBy=x.target
