[Unit]
Description=gnome-keyring

[Service]
ExecStart=/usr/bin/gnome-keyring-daemon --start --components=secrets
Restart=on-abort

[Install]
WantedBy=x.target
